@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
header,
nav,
section {
	display: block
}

body {
	line-height: 1
}

ul {
	list-style: square
}

b {
	color: #000
}

body {
	-webkit-text-size-adjust: none
}

body {
	-ms-overflow-style: scrollbar
}

@media screen and (max-width:480px) {
	body,
	html {
		min-width: 320px
	}
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth
}

*,
:after,
:before {
	box-sizing: inherit
}

body {
	background-color: #000;
	background-image: -moz-linear-gradient(45deg, #32c025 15%, #3f16b9 85%);
	background-image: -webkit-linear-gradient(45deg, #32c025 15%, #3f16b9 85%);
	background-image: -ms-linear-gradient(45deg, #32c025 15%, #3f16b9 85%);
	background-image: linear-gradient(45deg, #32c025 15%, #3f16b9 85%)
}

body {
	background-color: #250e8a;
	color: rgba(255, 255, 255, .65)
}

body {
	font-family: 'Exo', sans-serif;
	font-size: 17pt;
	font-weight: 300;
	line-height: 1.65
}

@media screen and (max-width:1680px) {
	body {
		font-size: 14pt
	}
}

@media screen and (max-width:1280px) {
	body {
		font-size: 12pt
	}
}

@media screen and (max-width:360px) {
	body {
		font-size: 11pt
	}
}

a {
	color: inherit;
	text-decoration: none
}

a:hover {
	border-bottom-color: transparent
}

b {
	font-weight: 400
}

p {
	margin: 0 0 2em 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
	line-height: 1.5;
	margin: 0 0 .7em 0;
	letter-spacing: -.025em
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
	text-decoration: none
}

h1 {
	font-size: 2.5em;
	line-height: 1.2
}

h2 {
	font-size: 1.5em
}

h3 {
	font-size: 1.25em
}

h4 {
	font-size: 1.1em
}

h5 {
	font-size: .9em
}

h6 {
	font-size: .7em
}

@media screen and (max-width:736px) {
	h1 {
		font-size: 2em
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #fff
}

ul {
	list-style: disc;
	margin: 0 0 2em 0;
	padding-left: 1em
}

ul li {
	padding-left: .5em
}

ul.alt {
	list-style: none;
	padding-left: 0
}

ul.alt li {
	border-top: solid 1px;
	padding: .5em 0
}

ul.alt li:first-child {
	border-top: 0;
	padding-top: 0
}

ul.alt li {
	border-top-color: rgba(0, 0, 0, .35)
}

/* Icon */

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative
}

.icon:before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none!important;
	font-family: 'Font Awesome 5 Free';
	font-weight: 400
}

.icon>.label {
	display: none
}

.icon:before {
	line-height: solid
}

.icon.brands:before {
	font-family: 'Font Awesome 5 Brands'
}

.icon.major {
	border: solid 1px;
	display: inline-block;
	border-radius: 100%;
	padding: .65em;
	margin: 0 0 2em 0;
	cursor: default
}

.icon.alt {
	display: block;
	font-size: 1.25em;
	width: 2em;
	height: 2em;
	text-align: center;
	line-height: 2em;
	border: solid 1px;
	border-radius: 100%
}

@media screen and (max-width:1680px) {
	.icon.major:before {
		font-size: 5.5rem
	}
}

@media screen and (max-width:1280px) {
	.icon.major:before {
		font-size: 4.75rem
	}
}

@media screen and (max-width:736px) {
	.icon.major {
		margin: 0 0 1.5em 0;
		padding: .35em
	}
	.icon.major:before {
		font-size: 3.5rem
	}
}

.icon.major {
	border-color: rgba(255, 255, 255, .35)
}

.icon.major:before {
	border-color: rgba(255, 255, 255, .35)
}

.icon.alt {
	border-color: rgba(255, 255, 255, .35);
	color: #fff
}

.icon.alt:hover {
	background-color: rgba(255, 255, 255, .075)
}

.icon.alt:active {
	background-color: rgba(255, 255, 255, .2)
}

ul.icons {
	cursor: default;
	list-style: none;
	padding-left: 0
}

ul.icons li {
	display: inline-block;
	padding: 0 .65em 0 0
}

ul.icons li:last-child {
	padding-right: 0!important
}

/* Header */

#header {
	padding: 5em 5em 1em 5em;
	text-align: center
}

#header h1 {
	margin: 0 0 .25em 0
}

#header p {
	font-size: 1.25em;
	letter-spacing: -.025em
}

#header.alt {
	padding: 7em 5em 4em 5em;
	animation-name: fadein-all;
	animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2.5s
}

#header.alt h1 {
	font-size: 3.25em
}

#header.alt .logo img {
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: solid #000;
}

@media screen and (max-width:1280px) {
	#header {
		padding: 4em 4em .1em 4em
	}
	#header.alt {
		padding: 6em 4em 3em 4em
	}
}

@media screen and (max-width:980px) {
	#header {
		padding: 4em 3em .1em 3em
	}
	#header.alt {
		padding: 5em 3em 2em 3em
	}
}

@media screen and (max-width:736px) {
	#header {
		padding: 3em 2em .1em 2em
	}
	#header p {
		font-size: 1em;
		letter-spacing: 0
	}
	#header p br {
		display: none
	}
	#header.alt {
		padding: 4em 2em 1em 2em
	}
	#header.alt h1 {
		font-size: 2.5em
	}
}

@media screen and (max-width:480px) {
	#header {
		padding: 3em 1.5em .1em 1.5em
	}
	#header.alt {
		padding: 4em 1.5em 1em 1.5em
	}
}

@media screen and (max-width:360px) {
	#header {
		padding: 2.5em 1em .1em 1em
	}
	#header.alt {
		padding: 3.5em 1em .5em 1em
	}
}

@keyframes fadein-all {
    0% {opacity: 0;}
    10% {opacity: 0;}
    100% {opacity: 1;}
}

/* Navbar */

.navbar {
	top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	position: fixed;
	justify-content: center;
	width: 64em;
	max-width: calc(100% - 4em);
	animation-duration: 0s;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px)
}

.nav-links {
	height: 100%
}

.nav-links ul li a {
	display: inline-block;
	height: 2.25em;
	line-height: 2.25em;
	padding: 0 1.25em;
	border: 0;
	border-radius: 100px!important
}

.nav-links ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none
}

.nav-links li {
	list-style: none
}

.nav-links li a {
	display: inline-block;
	text-decoration: none;
	color: #000
}

.nav-links li:hover {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3)
}

@media (max-width:800px) {
	.navbar {
		display: none
	}
	.navbar+#main {
		padding-top: 0
	}
}

/* Divider */

hr {
    border: none;
    height: 5px;
	width: 50%;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

@media (max-width:800px) {
	hr{
		width: 100%;
	}
}


/* Main */

#main {
	background-color: #f5f5f5;
	color: #000;
	border-radius: .25em
}

#main a:hover {
	color: #636363
}

#main p {
	color: #444;
	margin: 1%
}

#main li {
	margin-bottom: 2em
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
	color: #000
}

#main label {
	color: #636363
}

#main ::-webkit-input-placeholder {
	color: rgba(99, 99, 99, .25)!important
}

#main :-moz-placeholder {
	color: rgba(99, 99, 99, .25)!important
}

#main ::-moz-placeholder {
	color: rgba(99, 99, 99, .25)!important
}

#main :-ms-input-placeholder {
	color: rgba(99, 99, 99, .25)!important
}

#main .icon.major {
	border-color: #ddd
}

#main .icon.major:before {
	border-color: #ddd
}

#main .icon.alt {
	border-color: #ddd;
	color: #636363
}

#main .icon.alt:hover {
	background-color: rgba(222, 222, 222, .25)
}

#main .icon.alt:active {
	background-color: rgba(222, 222, 222, .5)
}

#main ul.alt li {
	border-top-color: #ddd
}

#main header.major h2:after {
	background-color: #ddd;
	background-image: -moz-linear-gradient(90deg, #000, #000, #000);
	background-image: -webkit-linear-gradient(90deg, #000, #000, #000);
	background-image: -ms-linear-gradient(90deg, #000, #000, #000);
	background-image: linear-gradient(90deg, #000, #000, #000)
}

#main .spotlight .image {
	border-color: #ddd
}

#main>.main {
	padding: 5em 5em 3em 5em;
	border-top: solid 1px #ddd
}

#main>.main:first-child {
	border-top: 0
}

#main>.main>.image.main:first-child {
	margin: -5em 0 5em -5em;
	width: calc(100% + 10em);
	border-top-right-radius: .25em;
	border-top-left-radius: .25em;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

#main>.main>.image.main:first-child img {
	border-top-right-radius: .25em;
	border-top-left-radius: .25em;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

@media screen and (max-width:1280px) {
	#main>.main {
		padding: 4em 4em 2em 4em
	}
	#main>.main>.image.main:first-child {
		margin: -4em 0 4em -4em;
		width: calc(100% + 8em)
	}
}

@media screen and (max-width:980px) {
	#main>.main {
		padding: 4em 3em 2em 3em
	}
	#main>.main>.image.main:first-child {
		margin: -4em 0 4em -3em;
		width: calc(100% + 6em)
	}
}

@media screen and (max-width:736px) {
	#main>.main {
		padding: 3em 2em 1em 2em
	}
	#main>.main>.image.main:first-child {
		margin: -3em 0 2em -2em;
		width: calc(100% + 4em)
	}
}

@media screen and (max-width:480px) {
	#main>.main {
		padding: 3em 1.5em 1em 1.5em
	}
	#main>.main>.image.main:first-child {
		margin: -3em 0 1.5em -1.5em;
		width: calc(100% + 3em)
	}
}

@media screen and (max-width:360px) {
	#main {
		border-radius: 0
	}
	#main>.main {
		padding: 2.5em 1em .5em 1em
	}
	#main>.main>.image.main:first-child {
		margin: -2.5em 0 1.5em -1em;
		width: calc(100% + 2em);
		border-radius: 0
	}
	#main>.main>.image.main:first-child img {
		border-radius: 0
	}
}

#wrapper {
	width: 64em;
	max-width: calc(100% - 4em);
	margin: 0 auto
}

@media screen and (max-width:480px) {
	#wrapper {
		max-width: calc(100% - 2em)
	}
}

@media screen and (max-width:360px) {
	#wrapper {
		max-width: 100%
	}
}

/* Footer */

footer{
	display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}